.card-img {
    max-width: 100px;
    height: auto;
    margin: 10px; 
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#generar {
    font-size: 20px;
    background-color: #216dac; 
    border-color: #FFD700; 
}


#resultado {
    font-size: 24px; 
}